{% extends 'finder/base.html' %}

{% block content %}
<div>
  <header class="nav_masthead" style="overflow: auto;">
    <div class="col-lg-12">
      <hr>
      {% if user.is_authenticated %}
      <h2 class="intro-text text-center" style="color: beige;">Enregistrez votre produit de substitution dans votre
        liste.</h2>
      <hr class="divider1 my-4" />
      {% else%}
      <h2 class="intro-text text-center" style="color: beige;">Si vous souhaitez enregistrer le produit dans une liste,
        inscrivez vous!</h2>
      <hr class="divider1 my-4" />
      {% endif %}
      <hr>
    </div>
  </header>

  <div class="row" style="background-color: #E8A75D;">

    {% for sub_product in products %}
    <div class="col-sm-4 d-flex justify-content-center mb-5 mt-5">
      <div class="card " style="height:450px; width:350px; background-color:#345A61">
        <div class="nutrimage">
          <img src="/static/finder/img/nutriscore-{{ sub_product.nutrition_grade}}.svg"
            style="margin-bottom:1rem;max-width:100%"><br>
        </div>
        <div class="my-auto">
          <div class="text-center">
            <img class="mx-auto" style="width:auto; height:auto; max-width:250px; max-height:250px; "
              src="{{ sub_product.picture }}">
          </div>
          <div class="card-body text-center">
            <h4 class="card-title" style="color:white">{{sub_product.real_name}}</h4>
            <hr class="divider1 my-1" />
            <h4 class="card-title" style="color:white">"{{sub_product.real_brand}}"</h4>
          </div>
        </div>

        <div class=" container-fluid card-footer border-top-0">
          <div class="row justify-content-end mx-2">
            {% if user.is_authenticated %}
            <a href="{% url 'finder:save' product.id sub_product.id %}" class='btn-top' role="button"><i
                class="top_1 fas fa-save"></i></a>
            <a href="{% url 'finder:detail' sub_product.id %}" class=" savedblink btn btn-primary bl-1"
              style="margin-top:1rem;max-width:100%">Fiche produit</a>
            {% else %}
            <a href="{% url 'finder:detail' sub_product.id %}" class=" savedblinknologged btn btn-primary bl-1"
              style="margin-top:1rem;max-width:100%">Fiche produit</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>

    {% endfor %}
  </div>
</div>

<div style="background-color: #E8A75D; overflow: auto; ">
  <div class="clearfix"></div>
  <nav aria-label="">
    <ul class="pager mb-3">
      {% if products.has_previous %}
      <span><a href="?query={{query}}&page={{ products.previous_page_number }}">Previous</a></span>
      {% endif %}
      <span class="current" style='color:white;'>
        Page {{ products.number }} de {{ products.paginator.num_pages }}
      </span>
      {% if products.has_next %}
      <span><a href="?query={{query}}&page={{ products.next_page_number }}">Next</a></span>
      {% endif %}
    </ul>
  </nav>
</div>

{% endblock %}