{% extends 'finder/base.html' %}

{% block content %}
<div>
  <header class="nav_masthead" style="overflow: auto;">
    <div class="col-lg-12">
      <hr>
      {% if user.is_authenticated %}
      <h2 class="intro-text text-center" style="color: beige;">Enregistrez votre produit de substitution dans votre
        liste.</h2>
      <hr class="divider1 my-4" />
      {% else%}
      <h2 class="intro-text text-center" style="color: beige;">Si vous souhaitez enregistrer le produit dans une liste,
        inscrivez vous!</h2>
      <hr class="divider1 my-4" />
      {% endif %}
      <hr>      
    </div>    
  </header>
  {% csrf_token %}
  <div class="row" style="background-color: #E8A75D;">

    {% for sub_product in products %}
    <div class="col-sm-4 d-flex justify-content-center mb-5 mt-5">
      <div class="card " style="height:450px; width:350px; background-color:#345A61">
        <div class="nutrimage">
          <img src="/static/finder/img/nutriscore-{{ sub_product.nutrition_grade}}.svg"
            style="margin-bottom:1rem;max-width:100%"><br>
        </div>
        <div class="my-auto">
          <div class="text-center">
            <img class="mx-auto" style="width:auto; height:auto; max-width:250px; max-height:250px; "
              src="{{ sub_product.picture }}">
          </div>
          <div class="card-body text-center">
            <h4 class="card-title" style="color:white">{{sub_product.real_name}}</h4>
            <hr class="divider1 my-1" />
            <h4 class="card-title" style="color:white">"{{sub_product.real_brand}}"</h4>
          </div>
        </div>
        <div class=" container-fluid card-footer border-top-0">
          <div class="row justify-content-between mx-2">
            <a href="{% url 'finder:detail' sub_product.id %}" class="btn btn-primary bl-1">Selectionnez</a>
            {% block nav-style %}{% endblock %}
            {% if user.is_authenticated %}            
            <div class='sub_button'>            
              <form class="add_btn" method='post'>
              <input type="hidden" class="product_id" value="{{ product.id }}">
              <input type="hidden" class="sub_product_id" value="{{ sub_product.id }}">
              <button class='added btn'><i class='fas fa-save'></i></button>                                
            </div>
          
            {% endif %}
          </div>
        </div>
      </div>
    </div>

    {% endfor %}
  </div>
</div>


<div id='navigation'>                      
  {% if paginate %}
  <div  style="background-color: #E8A75D;  ">
  {% for i in page_range %}  
  {% if i == 1%}       
  <span><button class='btn nav_button_sub first ' value='{{ product.id }} {{ i }}'>{{i}}</button></span>
  {% else %}
  <span><button class='btn nav_button_sub ' value='{{ product.id }} {{ i }}'>{{i}}</button></span>
  {% endif %}             
  {% endfor %}
  {% endif %}
  <img src="/static/finder/img/logo_pur_beurre.png" id="loading-indicator" style="display:none" />
</div>     
</div>

{% endblock %}